
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pages</title>
    
    <meta name="author" content="Convertify">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- <link href="/assets/themes/twitter/css/style.css?body=1" rel="stylesheet" type="text/css" media="all"> -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top yamm" id="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://convertify.io">
        <img class="img-responsive brand nav-logo" src="/assets/images/convertify-white-sm.png" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- 
        
        




  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/archive.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/archive.html">Archive</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">Archive</a></h2>
                  <p>
                    
                      2014 July July 2, 2014 &raquo; Working with Clients - Watch out for Back-Seat Driving July 1, 2014 &raquo; Is Your Website Leaking? How Adding One Element to a Blog's Sidebar Achieved a 82.14% Lift in Conversions June June 3, 2014 &raquo; 70 Conversion Optimization Tools & Resources That You Should Know About February February 21, 2014 &raquo; How to Track Infusionsoft Sales With Google Analytics E-Commerce Tracking 2013 November......
                  
                    <a href="/archive.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
    
  
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/categories.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/categories.html">Categories</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">Categories</a></h2>
                  <p>
                    
                      Categories conversion rate optimization fundamentals case studies e-commerce scripts bounce rates analytics tips guides conversion rate optimization 10 February 2013 Lean Conversion Optimization: Strategies for Fast Implementation and Results Lean Conversion Optimization: Strategies for Fast Implementation and Results Recently I read The Lean Startup by Eric Ries – A popular book that many of you have probably read. At the core of his concept is the Build-Measure-Learn loop, which is......
                  
                    <a href="/categories.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/pages.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/pages.html">Pages</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">Pages</a></h2>
                  <p>
                    
                      All Pages Archive Archive 2014 July July 2, 2014 &raquo; Working with Clients - Watch out for Back-Seat Driving July 1, 2014 &raquo; Is Your Website Leaking? How Adding One Element to a Blog's Sidebar Achieved a 82.14% Lift in Conversions June June 3, 2014 &raquo; 70 Conversion Optimization Tools & Resources That You Should Know About February February 21, 2014 &raquo; How to Track Infusionsoft Sales With Google Analytics......
                  
                    <a href="/pages.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
    
  
    
      
    
  
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/tags.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/tags.html">Tags</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">Tags</a></h2>
                  <p>
                    
                      {% include JB/setup %}


  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}



{% for tag in site.tags %} 
  {{ tag[0] }}
  
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  
{% endfor %}
...
                  
                    <a href="/tags.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  







<!-- 
  


 --> -->
          <li><a href="http://convertify.io">Home</a></li>
          <li class=""><a href="http://convertify.io/no-guesswork">No Guesswork</a></li>
          <li class="dropdown yamm-fw">
            <a href="http://convertify.io/labs" class="dropdown-toggle" data-toggle="dropdown">Labs <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <div class="yamm-content yamm-fw">
                  <div class="row">
                    <div class="col-sm-4">
                      <ul class="list-unstyled">
                        <li>
                          <h4>Convertify Labs</h4>
                          <p>Free apps to help you increase your conversion rate.</p>
                          <br>
                        </li>
                        <li>
                          <p>
                            <strong>Plugins</strong>
                          </p>
                        </li>
                        <li class="coming-soon">
                          <a href="#">Pre-populator</a>
                          <p><small>Adds prepopulation to forms to increase conversions.</small></p>
                        </li>
                        <li class="coming-soon">
                          <a href="#">Scrollmark</a>
                          <p><small>Optimize your blog's usability and allow linking to certain sections to of your content.</small></p>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <ul class="list-unstyled">
                        <li>
                          <p>
                            <strong>Convertify Apps</strong>
                          </p>
                        </li>
                        <li class="coming-soon">
                          <a href="#">Convertilyzer</a>
                          <p><small>Analyzes your website design and your analytics to give conversion optimization recommendations.</small></p>
                        </li>
                        <li class="coming-soon">
                          <a href="#">Boomerang</a>
                          <p><small>Reduce cart abandonment on your online store.</small></p>
                        </li>
                        <li class="coming-soon">
                          <a href="#">SideStage</a>
                          <p><small>Call-to-actions optimized for today's banner-blindness which allows A/B testing of CTA's.</small></p>
                        </li>
                        <li class="coming-soon">
                          <a href="#">Personify</a>
                          <p><small>Personalize your site with URL parameters.</small></p>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <ul class="list-unstyled">
                        <li>
                          <p>
                            <strong>Tools</strong>
                          </p>
                        </li>
                        <li>
                          <a href="http://convertify.io/labs/selector-tool">Selector Tool</a>
                          <p><small>Identify selectors on your site for use in tools &amp; goal-tracking.</small></p>
                        </li>
                        <li class="coming-soon">
                          <a href="#">Multistepper</a>
                          <p><small>Adds pre-population to your forms to increase conversions.</small></p>
                        </li>
                        <li>
                          <a href="http://convertify.io/quantify">Quantify</a>
                          <p><small>Quantify surveys quickly. Integrates with Qualaroo.</small></p>
                        </li>
                        <li class="coming-soon">
                          <a href="#">Event Buddy</a>
                          <p><small>Easily create GA events without any technical knowledge required.</small></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li><a href="/categories.html#case-studies-ref">Case Studies</a></li>
          <li class=""><a href="/">Blog</a></li>
          <li class=""><a href="mailto:c@convertify.io">Contact</a></li>
        </ul>
      </ul>
    </div>
  </div>
</div>

    <div class="container-fluid">

      <div class="content">
        

	<div class="page-header">
	  <h1>Pages <small></small></h1>
	</div>




<h2>All Pages</h2>
<ul>






  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/archive.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/archive.html">Archive</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">Archive</a></h2>
                  <p>
                    
                      2014 July July 2, 2014 &raquo; Working with Clients - Watch out for Back-Seat Driving July 1, 2014 &raquo; Is Your Website Leaking? How Adding One Element to a Blog's Sidebar Achieved a 82.14% Lift in Conversions June June 3, 2014 &raquo; 70 Conversion Optimization Tools & Resources That You Should Know About February February 21, 2014 &raquo; How to Track Infusionsoft Sales With Google Analytics E-Commerce Tracking 2013 November......
                  
                    <a href="/archive.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/atom.xml">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/atom.xml">Atom Feed</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">Atom Feed</a></h2>
                  <p>
                    
                      Convertify 2015-03-02T20:11:50-08:00 http://blog.convertify.io Convertify admin@convertify.io Working with Clients - Watch out for Back-Seat Driving 2014-07-02T13:51:11-07:00 http://blog.convertify.io/tips/working-with-clients-watch-out-for-back-seat-driving &lt;p&gt;&lt;em&gt;“I really like [competitor]’s website. Can you do a test using a design like theirs?”&lt;/em&gt;&lt;/p&gt; &lt;p&gt;&lt;em&gt;“I read in an article that [x] increases conversions. Can you set up that test please?”&lt;/em&gt;&lt;/p&gt; &lt;p&gt;Your client is all that matters - that’s true. It’s important that they have a sense of control in order to maintain a......
                  
                    <a href="/atom.xml">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/categories.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/categories.html">Categories</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">Categories</a></h2>
                  <p>
                    
                      Categories conversion rate optimization fundamentals case studies e-commerce scripts bounce rates analytics tips guides conversion rate optimization 10 February 2013 Lean Conversion Optimization: Strategies for Fast Implementation and Results Lean Conversion Optimization: Strategies for Fast Implementation and Results Recently I read The Lean Startup by Eric Ries – A popular book that many of you have probably read. At the core of his concept is the Build-Measure-Learn loop, which is......
                  
                    <a href="/categories.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/index.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/index.html">Convertify Blog</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">Convertify Blog</a></h2>
                  <p>
                    
                      Convertify Blog All Things CRO 02 July 2014 Working with Clients - Watch out for Back-Seat Driving Working with Clients - Watch out for Back-Seat Driving “I really like [competitor]’s website. Can you do a test using a design like theirs?” “I read in an article that [x] increases conversions. Can you set up that test please?” Your client is all that matters - that’s true. It’s important that they......
                  
                    <a href="/index.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/pages.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/pages.html">Pages</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">Pages</a></h2>
                  <p>
                    
                      {% include JB/setup %}

All Pages

{% assign pages_list = site.pages %}
{% include JB/pages_list %}

...
                  
                    <a href="/pages.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/rss.xml">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/rss.xml">RSS Feed</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">RSS Feed</a></h2>
                  <p>
                    
                      


        {{ site.title }}
        {{ site.title }} - {{ site.author.name }}
        {{ site.production_url }}{{ site.rss_path }}
        {{ site.production_url }}
        {{ site.time | date_to_xmlschema }}
        {{ site.time | date_to_xmlschema }}
        1800

{% for post in site.posts %}
        
                {{ post.title }}
                {{ post.content | xml_escape }}
                {{ site.production_url }}{{ post.url }}
                {{ site.production_url }}{{ post.id }}
                {{ post.date | date_to_xmlschema }}
        
{% endfor %}



...
                  
                    <a href="/rss.xml">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/sitemap.txt">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/sitemap.txt">Sitemap</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">Sitemap</a></h2>
                  <p>
                    
                      {% for page in site.pages %}
{{site.production_url}}{{ page.url }}{% endfor %}
{% for post in site.posts %}
{{site.production_url}}{{ post.url }}{% endfor %}...
                  
                    <a href="/sitemap.txt">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/tags.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/tags.html">Tags</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">Tags</a></h2>
                  <p>
                    
                      {% include JB/setup %}


  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}



{% for tag in site.tags %} 
  {{ tag[0] }}
  
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  
{% endfor %}
...
                  
                    <a href="/tags.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/conversion-rate-optimization/index.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/conversion-rate-optimization/index.html">conversion rate optimization</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">conversion rate optimization</a></h2>
                  <p>
                    
                        {% for post in page.posts %}{% if post.featured_image %}{% endif %}{{ post.date | date_to_long_string }}{{ post.title }}{% if post.featured_image %}{% endif %}{{ post.title }}{% if post.excerpt.size > 250 %}{{ post.excerpt | strip_html | truncatewords: 70 | append: '...' }}{% else %}{{ post.content| strip_html | truncatewords: 70 | append: '...' }}{% endif %}Read More
  {% endfor %}
...
                  
                    <a href="/conversion-rate-optimization/index.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/fundamentals/index.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/fundamentals/index.html">fundamentals</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">fundamentals</a></h2>
                  <p>
                    
                        {% for post in page.posts %}{% if post.featured_image %}{% endif %}{{ post.date | date_to_long_string }}{{ post.title }}{% if post.featured_image %}{% endif %}{{ post.title }}{% if post.excerpt.size > 250 %}{{ post.excerpt | strip_html | truncatewords: 70 | append: '...' }}{% else %}{{ post.content| strip_html | truncatewords: 70 | append: '...' }}{% endif %}Read More
  {% endfor %}
...
                  
                    <a href="/fundamentals/index.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/case-studies/index.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/case-studies/index.html">case studies</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">case studies</a></h2>
                  <p>
                    
                        {% for post in page.posts %}{% if post.featured_image %}{% endif %}{{ post.date | date_to_long_string }}{{ post.title }}{% if post.featured_image %}{% endif %}{{ post.title }}{% if post.excerpt.size > 250 %}{{ post.excerpt | strip_html | truncatewords: 70 | append: '...' }}{% else %}{{ post.content| strip_html | truncatewords: 70 | append: '...' }}{% endif %}Read More
  {% endfor %}
...
                  
                    <a href="/case-studies/index.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/e-commerce/index.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/e-commerce/index.html">e-commerce</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">e-commerce</a></h2>
                  <p>
                    
                        {% for post in page.posts %}{% if post.featured_image %}{% endif %}{{ post.date | date_to_long_string }}{{ post.title }}{% if post.featured_image %}{% endif %}{{ post.title }}{% if post.excerpt.size > 250 %}{{ post.excerpt | strip_html | truncatewords: 70 | append: '...' }}{% else %}{{ post.content| strip_html | truncatewords: 70 | append: '...' }}{% endif %}Read More
  {% endfor %}
...
                  
                    <a href="/e-commerce/index.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/scripts/index.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/scripts/index.html">scripts</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">scripts</a></h2>
                  <p>
                    
                        {% for post in page.posts %}{% if post.featured_image %}{% endif %}{{ post.date | date_to_long_string }}{{ post.title }}{% if post.featured_image %}{% endif %}{{ post.title }}{% if post.excerpt.size > 250 %}{{ post.excerpt | strip_html | truncatewords: 70 | append: '...' }}{% else %}{{ post.content| strip_html | truncatewords: 70 | append: '...' }}{% endif %}Read More
  {% endfor %}
...
                  
                    <a href="/scripts/index.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/bounce-rates/index.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/bounce-rates/index.html">bounce rates</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">bounce rates</a></h2>
                  <p>
                    
                        {% for post in page.posts %}{% if post.featured_image %}{% endif %}{{ post.date | date_to_long_string }}{{ post.title }}{% if post.featured_image %}{% endif %}{{ post.title }}{% if post.excerpt.size > 250 %}{{ post.excerpt | strip_html | truncatewords: 70 | append: '...' }}{% else %}{{ post.content| strip_html | truncatewords: 70 | append: '...' }}{% endif %}Read More
  {% endfor %}
...
                  
                    <a href="/bounce-rates/index.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/analytics/index.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/analytics/index.html">analytics</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">analytics</a></h2>
                  <p>
                    
                        {% for post in page.posts %}{% if post.featured_image %}{% endif %}{{ post.date | date_to_long_string }}{{ post.title }}{% if post.featured_image %}{% endif %}{{ post.title }}{% if post.excerpt.size > 250 %}{{ post.excerpt | strip_html | truncatewords: 70 | append: '...' }}{% else %}{{ post.content| strip_html | truncatewords: 70 | append: '...' }}{% endif %}Read More
  {% endfor %}
...
                  
                    <a href="/analytics/index.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/tips/index.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/tips/index.html">tips</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">tips</a></h2>
                  <p>
                    
                        {% for post in page.posts %}{% if post.featured_image %}{% endif %}{{ post.date | date_to_long_string }}{{ post.title }}{% if post.featured_image %}{% endif %}{{ post.title }}{% if post.excerpt.size > 250 %}{{ post.excerpt | strip_html | truncatewords: 70 | append: '...' }}{% else %}{{ post.content| strip_html | truncatewords: 70 | append: '...' }}{% endif %}Read More
  {% endfor %}
...
                  
                    <a href="/tips/index.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/guides/index.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/guides/index.html">guides</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">guides</a></h2>
                  <p>
                    
                        {% for post in page.posts %}{% if post.featured_image %}{% endif %}{{ post.date | date_to_long_string }}{{ post.title }}{% if post.featured_image %}{% endif %}{{ post.title }}{% if post.excerpt.size > 250 %}{{ post.excerpt | strip_html | truncatewords: 70 | append: '...' }}{% else %}{{ post.content| strip_html | truncatewords: 70 | append: '...' }}{% endif %}Read More
  {% endfor %}
...
                  
                    <a href="/guides/index.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/page/2/index.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/page/2/index.html">Convertify Blog</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">Convertify Blog</a></h2>
                  <p>
                    
                      {% include JB/setup %} {{ page.title }} {{ page.tagline }} {% for post in paginator.posts %} {% if post.featured_image %} {% endif %} {{ post.date | date_to_long_string }} {{ post.title }} {% if post.featured_image %} {% endif %} {{ post.title }} {% if post.excerpt.size > 250 %} {{ post.excerpt | strip_html | truncatewords: 70 | append: '...' }} {% else %} {{ post.content| strip_html | truncatewords: 70 | append: '...'......
                  
                    <a href="/page/2/index.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/page/3/index.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/page/3/index.html">Convertify Blog</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">Convertify Blog</a></h2>
                  <p>
                    
                      {% include JB/setup %} {{ page.title }} {{ page.tagline }} {% for post in paginator.posts %} {% if post.featured_image %} {% endif %} {{ post.date | date_to_long_string }} {{ post.title }} {% if post.featured_image %} {% endif %} {{ post.title }} {% if post.excerpt.size > 250 %} {{ post.excerpt | strip_html | truncatewords: 70 | append: '...' }} {% else %} {{ post.content| strip_html | truncatewords: 70 | append: '...'......
                  
                    <a href="/page/3/index.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  
    
      
        <div class="row">
          <div class="col-md-12 post">
            <div class="row post-content hidden-xs">
              <div class="col-xs-4">
                <a href="/page/4/index.html">
                  
                </a>
              </div>
              <div class="col-xs-8">
                
                <h2><a class="post-title" href="/page/4/index.html">Convertify Blog</a></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                <h2><a class="post-title visible-xs" href="/pages.html">Convertify Blog</a></h2>
                  <p>
                    
                      {% include JB/setup %} {{ page.title }} {{ page.tagline }} {% for post in paginator.posts %} {% if post.featured_image %} {% endif %} {{ post.date | date_to_long_string }} {{ post.title }} {% if post.featured_image %} {% endif %} {{ post.title }} {% if post.excerpt.size > 250 %} {{ post.excerpt | strip_html | truncatewords: 70 | append: '...' }} {% else %} {{ post.content| strip_html | truncatewords: 70 | append: '...'......
                  
                    <a href="/page/4/index.html">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    
  







<!-- 
  


 -->
</ul>


      </div>

      <footer>
        <p>&copy; Convertify 2012
        </p>
      </footer>

    </div> <!-- /container -->

    
  </body>
</html>

