{% if page.fluid_image %}
<div class='row'>
  <div class='featuredImage-fullWidth'>
    <div class='featuredImage-overlay'></div>
    <img class='img-responsive' src='{{ page.featured_image }}'>
    {% if page.title_image %}
    <div class='featuredImage-content'>
      <div class='col-sm-8 col-sm-offset-2'>
        <h1 class='postTitle'>{{ page.title }}</h1>
        {% if page.description %}
        <p>{{ page.description }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
<div class='row shadow-above postBody'>
  <div class='col-sm-8 col-sm-offset-2'>
    {% unless page.fluid_image %}
    <img alt='' class='featuredImage featuredImage--single img-responsive center-block' src='{{ page.featured_image }}'>
    {% endunless %}
    {% unless page.fluid_image and page.title_image %}
    <h1 class='postTitle'>{{ page.title }}</h1>
    {% endunless %}
    {{ content | replace: '<table>', '<table class="table table-hover table-condensed">' | replace_regex: '(<table[^\>]+>.*?<\/table>)', '<div class="table-responsive">\1</div>' }}
    <hr>
    <ul class="pager">
    {% if page.previous %}
      <li class='previous'>
        <a href='{{ BASE_PATH }}{{ page.previous.url }}' title='{{ page.previous.title }}'>← Previous</a>
      </li>
    {% else %}
      <li class='prev disabled'>
        <a>← Previous</a>
      </li>
    {% endif %}
     <!--  <li>
        <a href='{{ BASE_PATH }}{{ site.JB.archive_path }}'>Archive</a>
      </li> -->
    {% if page.next %}
      <li class='next'>
        <a href='{{ BASE_PATH }}{{ page.next.url }}' title='{{ page.next.title }}'>Next →</a>
      </li>
    {% else %}
      <li class='next disabled'>
        <a>Next →</a>
      {% endif %}
      </li>
    </ul>
    <hr>
  {% include JB/comments %}
  {% include addthis.html %}
  </div>
</div>

{% if page.use_math %}
  {% include custom/mathjax %}
{% endif %}